body{
    background-image: url('https://github.com/karupu429/gas/edit/main/style1.css/butter.css');
    background-repeat: no-repeat;
    background-size: cover fullpage ;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
}
